<div class="tile">
	<div class="photo">         
		<a href="/qa/show.php?id={id}">
			<img src="/{bucket}/{storedName}" width="{width}" height="{height}" title="{originalName}"  alt="{originalName}"/>
        </a> 
    </div>
	
	<div class="description">
		{summary}
	</div>
	   
	<div class="author">
	   <span class="b"> <a href="#"> {userName} </a> </span>
	   <span class="date"> posted on {createdOn} </span>
	</div>
	
    <div class="tags"> Tags&nbsp;{tags} </div>
        
</div>


   
