
<div class="tile">
   <div class="description">
	 {description}
   </div>
   
   <div class="author">
	<div class="floatr">
			<img src="/nuke/twitter-icon.png" height="32" width="32" alt="icon" /> 		
		</div>

		<div>
			<span class="b"> <a href="#">{userName}</a> </span>
			<span class="b">{createdOn} </span>
			<span>{tags} </span>
		</div>
   </div>
   
  <div><a href="/qa/show.php?id={id}">More&nbsp;&#8594;</a></div>
    
</div>

