
body {
    margin: auto; /* center in viewport */
    width: 960px;
    font-family: 'Georgia' , 'Trebuchet MS', 'Verdana', 'Arial' , 'Sans Serif' ;
    font-size: 15px;
    /* background : #EAEAEA; */
}

body  a {
    text-decoration: none ;
}

#site-banner {
    /* height:160px; */
    margin:0;
    width:100%;
    /* background-color: #EEE; */
    /* background-color :#263C52; */
    /* background-color: #EEF4F8 ;*/
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc ;

}

#site-banner h1 {
    font-size:30px;
    text-align:center;
    /* font-family: 'Trebuchet MS','Lucida Grande','Verdana','Arial','Sans-Serif'; */
    font-weight: bold;
    /*padding-top: 30px;
    padding-bottom: 20px; */
}

#site-banner h1 a {
      /* color: #FFFFFF; */
      text-decoration: none ;
}

#site-banner .description {
    /* color:white ; */
    text-align: center ;
    font-size :18px;
    font-family:'Trebuchet MS','Lucida Grande','Verdana','Arial','Sans-Serif';
    font-weight: bold;
    margin-bottom :20px;

}

div #main-panel {
    padding:20px;
}

div #preview {
    padding:20px;
    border: 1px solid blue ;
    margin-bottom: 20px;
}

div .opening {
    margin-left: 10px;
    padding:10px ;
}

div .opening a {
   text-decoration: none ;
}


div .application  a {
   text-decoration: none ;
}

div .bounty {
    font-size: 14px;
    font-weight: bold;
    padding:10px;
    color:green;
}

div .action-links {
    margin-top: 20px;
}

div .action-links a {
    text-decoration: none ;
    font-weight: bold;
    font-size: 13px;
}

div .application {
    padding:10px;
    margin-left: 10px;
}

div .organization {
    padding:10px;
    margin-left: 10px;
}

 div .description{
    padding:20px;
    font-size: 13px;
    margin-top: 20px;
}


div  .header {
    color : #AAA ;
    font-size: 18px;
    font-weight: bold;
}

div .help {
    border-bottom : 2px solid green;
    padding:10px;

}

.toolbar {
    margin-top:10px;
    padding:20px;
    border-bottom: 2px solid green;

}

.toolbar a {
    text-decoration: none ;
}

div #left-panel {

}


div #left-panel a {
    text-decoration: none ;
    font-weight: bold;
    font-size :16px;
}

div #form-wrapper {
    margin-left: 20px;
}

.form-table {
    padding:10px;
    background-color: #fef ;
    margin-top : 20px;
    margin-bottom: 20px;
}

.form-table  input{
    word-spacing: 1px;
    line-height: 1.8em;
    color: #333;
    border: 1px solid #bbb;
    width: 400px;
    height: 28px;
    padding-top:4px;

}


.form-table  .width-1{
    width: 300px;
}

.form-table  .width-2{
    width: 600px;
}

.form-table  .width-3{
    width: 800px;
}

.form-table  .height-1{
    height: 140px;
}

.form-table  .height-2{
    height: 450px;
}


.form-table  textarea{
    word-spacing: 1px;
    line-height: 1.8em;
    color: #333;
    border: 1px solid #ccc;
    width: 510px;
    height :310px;
    padding-top:10px
}

.web-form button {
    width :100px;
    padding:5px;
    font-weight: bold ;
    font-size: 16px;
}

div .error {
    margin-bottom: 10px;
    margin-top: 10px;
}

div .error label {
    width: 500px;
    text-align: left;
    display: block;
    margin-left: 10px;
    color:red ;
}

.blue-rectangle {
    border :1px solid blue ;
}


.green-line-bottom {
    border-bottom: 2px solid green ;
    padding-bottom: 10px;
}


.grey-line-bottom {
    border-bottom: 1px solid #ccc ;
    padding-bottom: 10px;
}



div #preview {
    padding:10px;
}

p .help-text {

}

