@charset "utf-8";

/* Global resets */

html, html#nojs {
    height: 100%;
}

html#js {
    height: 100%;
}

body {
	font-size: 12px;	
	font-family: Tahoma, Arial, sans-serif;
	min-height: 100%;
    margin: 0;
    padding: 0;
	position: relative;
	background: #f0f0f0 url('images/bg.png') repeat-x 0 85px;;
	color: #494949;
	min-height:100%;
	
	
}

#body-wrapper {
	width:960px;
	margin-left:80px;
	background:#FFF;
	border-left: 1px solid #bfbebe;
	border-right: 1px solid #bfbebe;
	border-bottom: 1px solid #bfbebe;
	padding: 15px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;

	
}


a {
	color: #2288cc;
	text-decoration:none;
}
	a img {
		border: 0;
	}
a:hover {text-decoration:underline;}

form {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0 0 1em;
	padding: 0;
}
h3, h4 {
	font-size:20px;
	margin:0 0 2px;
	color:#494949;
}
h4 {
	font-size:18px;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
    margin: 0;
}

p {
	margin: 0 0 1em 0;
	padding: 0;
}

/* - Global resets */


/* + Common classes */

.error {
	color: #ff0000;	
}

.no-border {
    border: 0 !important;
}

div.hr {
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	background: #a1a1a1;
}

input.text {
}

input.submit {
}

table.reset {
	border: 0;
	border-collapse: collapse;
}
	table.reset td,
	table.reset th {
		padding: 0;
	}

ul.reset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	ul.reset li {
		margin: 0;
		padding: 0;
	}


.clear {clear:both;}
.floatl {float:left;}
.floatr {float:right;}

.red {color:#f80813;}
.green {color:#88cc44;}
.grey {color:#808080;}


/* - Common classes */

#wrap,
.h-content,
.f-content {
	width: 960px;
	margin: 0 auto;
}

#header {
	background:#2288cc;
	padding: 10px;
	height: 67px;
	color:#FFF;
}

#wrap {
	background:#FFF;
	border-left: 1px solid #bfbebe;
	border-right: 1px solid #bfbebe;
	border-bottom: 1px solid #bfbebe;
	padding: 15px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#head {
	background:url('images/head-bg.jpg') no-repeat center 0;
	height:207px;
}
#content {
	/* width:600px; */
	/* float:left; */
	border:1px solid #bbbbbb;
	margin-top:7px;
	padding:14px;
	min-height : 800px;
}
#sidebar {
	width: 300px;
	float:right;
	margin-top:7px;
}

#footer {
	background:#000000;
	padding:16px 0 6px;
	font-family: Arial, Helvetica, sans-serif;
	color: #bfbebe;
	margin-top:28px;
}

/* --------------- Header --------------- */

#head h3 {
	color:#2288cc;
	font-size: 36px;
	float:right;
	margin-top: 88px;
	font-family:"Myriad Pro",Arial,Helvetica,Tahoma,sans-serif;
}

#logo {
	margin-top:18px;
	float: left;
}
/*#logo a {
	background: url("../images/logo.png") no-repeat scroll center 0 transparent;
    display: block;
    height: 35px;
    outline: 0 none;
    text-indent: -9999px;
    width: 152px;
}*/

#search-top {
	float: right;
    height: 24px;
    width: 308px;
    font-family:Arial,Helvetica,Tahoma,sans-serif;
    padding-top: 28px;
}
#searchform {
	float:right;
	background:#FFF;
	height:16px;
	width:175px;
}
#searchform #s {
	border:none;
	background:transparent;
	font-family:"Myriad Pro",Arial,Helvetica,Tahoma,sans-serif;
	color:#949494;
	padding: 1px 5px;
	width: 140px;
	outline:none;
}
#searchform .but {
	border:none;
	background:transparent;
	cursor:pointer;
	vertical-align:top;
}
#login {
	font-size:11px;
	padding-top: 2px;
}
#login a {color:#FFF;}
#login .loginout {
    background: url("images/login-bg.png") no-repeat scroll 0 0 transparent;
    padding: 0 2px 0 14px;
}
#login .register {
	background: url('images/login-bg.png') no-repeat right bottom;
	padding:0 14px 0 2px;
}

#hcenter {
	margin:0 0 0 260px;
	font-size:16px;
	font-family:Arial,Helvetica,Tahoma,sans-serif;
	padding-top:27px;
}


/* --------------- Content --------------- */

.joblist {
	padding:0 90px;
	font-size: 14px;
	font-family:"Myriad Pro",Arial,Helvetica,Tahoma,sans-serif;
}
.joblist .item {
	padding-bottom:30px;
	margin-bottom:15px;
	border-bottom:1px solid #ebebeb;
}
.joblist .price {
	float:right;
	font-size:18px;
	color:#88cc44;
	margin-top: 7px;
	margin-left: 30px;
	line-height: 28px;
}
.joblist .photos {
	float:right;
	margin-top: 7px;
}
.joblist .photos img {
	margin-right: 5px;
}

.pagenavi {
	text-align:center;
	margin-top:40px;
	margin-bottom:50px;
}
.pagenavi .page {
	border:1px solid #9c9997;
	padding:3px 6px;
	font-size:11px;
}
.pagenavi .current {
	text-decoration:underline;
}

/* --------------- Sidebar --------------- */

.widget {
	margin-bottom:26px;
	
}
.access-btn {
	display:block;
	border:none;
	width:195px;
	height:46px;
	background:url('images/access-btn.png') no-repeat 0 0;
	margin:0 auto;
}

#news-widget .item {
	background:url('images/news-bg.png') no-repeat center bottom;
	padding-bottom:10px;
	margin:15px 0;
}
#news-widget .thumb {
	float:left;
	margin-right:10px;
}
#news-widget .date {
	background:url('images/date-bg.png') no-repeat right 0;
	color: #066193;
    font-size: 10px;
    height: 11px;
    line-height: 10px;
    padding-right: 4px;
    text-align: right;
    clear:both;
    margin-top: 5px;
}


/* --------------- Footer --------------- */

.f-content {
	text-align:right;
}
#copyright {
	color:#777777;
	font-size: 10px;
}
#social a {
    background: url("images/social.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    margin: 0 3px;
    width: 18px;
}
#social .yt {
    background-position: 0 -18px;
}
#social .fb {
    background-position: 0 -36px;
}


/* --------------- Menu --------------- */

#main-menu {
	/* background: url('images/menu-bg.jpg') no-repeat left center; */
	height: 60px;
	font-size: 20px;
	font-family:"Myriad Pro",Arial,Helvetica,Tahoma,sans-serif;
	line-height: 60px;
}
#main-menu ul {
	list-style:none;
	margin:0;
	padding:0;
	text-align: center;
	color: #b9b9b9;
	width:662px;
}
#main-menu ul li {
	display:inline;
	
}
#main-menu ul li a {
	margin: 0 12px;
}

#f-menu {}
#f-menu ul {
	list-style:none;
	margin:8px 0 0;
	padding:0;
	font-size:14px;
}
#f-menu ul li {
	display:inline;
}
#f-menu ul li a {
	color:#dbdada;
	font-weight:bold;
	margin:0 7px;
}

/* -----  new code starts --------------- */
/* web forms stuff */

div #form-wrapper {
    margin-left: 20px;
}

.form-table {
    padding:10px;
    /* background-color: #fef ; */
    margin-top : 20px;
    margin-bottom: 20px;
}

.form-table  input{
    word-spacing: 1px;
    line-height: 1.8em;
    color: #333;
    border: 1px solid #bbb;
    width: 400px;
    height: 28px;
    padding-top:4px;

}


.form-table  .width-1{
    width: 300px;
}

.form-table  .width-2{
    width: 600px;
}

.form-table  .width-3{
    width: 800px;
}


.form-table  .width-number{
    width: 80px;
}

.form-table  .height-1{
    height: 140px;
}

.form-table  .height-2{
    height: 450px;
}


.form-table  textarea{
    word-spacing: 1px;
    line-height: 1.8em;
    color: #333;
    border: 1px solid #ccc;
    width: 400px;
    height :310px;
    padding-top:10px
}

.web-form button {
    width :80px;
    padding:5px;
    font-weight: normal ;
    font-size: 16px;
}

div .error {
    margin-bottom: 10px;
    margin-top: 10px;
}

div .error label {
    width: 500px;
    text-align: left;
    display: block;
    margin-left: 10px;
    color:red ;
}


div .share-toolbar {
	margin-top:40px;
	padding: 10px;
	border:1px solid #EBEBEB ;
	
}

div .organization {
	margin-top : 20px;
}

div .candidate {
	
	
	
}


/* ----- new styles ------ */

.joblist item .title {
	padding-top:20px;	
}


.details .ditem {
	padding:0 7px 0 16px;
	background:url('images/details_sprite.png') no-repeat 0 0;
	line-height: 18px;
}
.details .d-name {background-position:0 0;}
.details .d-email {background-position:0 -14px;}
.details .d-phone {background-position:0 -28px;}
.details .d-address {background-position:0 -42px;}
.details .d-edu {background-position:0 -56px;}
.details .d-company {background-position:0 -70px;}

.skill {
	color:#727272;
	margin: 20px 14px;
    padding: 10px 0;
	border-bottom:1px solid #A1A1A1;
	text-align:justify;
	
}

.description {
	color:#727272;
	margin: 20px 14px;
    padding: 10px 0;
	text-align:justify;
	
}

.date {
	font-weight:bold;
	color: gray;
}

.b {
	font-weight : bold ;
}

.gray {
	color : gray;
}


.pt10 {padding-top:10px;}


/* 100 percent big orange button */
div .orange-button {
    margin-bottom:10px;
	margin-top:20px;
	background-color:#FF7906;
	color:#FFFFFF;
	
	padding:7px 20px;
	border-radius:5px;
	text-decoration:none;
	 text-align:center;

}

div .orange-button a {
     color:#FFFFFF;
     font-size:13px;
     font-weight:bold;
	 text-align:center;

}


.f13 {
	font-size :13px;
}

.mt20 {
	margin-top :20px;
}

.meta {
		
	font-size: 12px;
	padding: 5px 0;
	color: gray;
}

.action-links {
	font-weight: bold;
	font-size: 14px;
	color: #28C;
	padding: 10px 0;

}

/* ------ top filter ------ */

.fb_top {
	font-size:14px;
	font-weight:bold;
	font-family:Arial;
	height:18px;
	line-height:18px;
	padding-bottom:20px;
	border-bottom :3px solid #3E71B5;
}

.fb_top .fb_name {
	
	padding-left:25px;
	padding-right: 8px;
}
.fb_top .fb_filter {
	padding-left:8px;
	padding-right: 10px;
	position:relative;
}
.fb_top .afilter {
	
	padding-right:15px;
	color: #3E71B5;
	/* text-decoration :underline; */
}
.fb_top .fb_selector {
	border: 1px solid #BBBBBB;
	position:absolute;
	right: 0;
	background:#FFF;
	padding:5px 10px;
	display: none;
}
.fb_top .fb_selector a {
	color: #3E71B5;
	display:block;
	padding: 0 10px;
}
.fb_top .fb_selector a:hover {
	background: #3E71B5;
	color:#FFF;
	text-decoration:none;
}
.fb_selector a.current {
	color:#111;
	cursor:default;
}
.fb_selector a.current:hover {
	color:#111;
	background:transparent;
}

/* --- top filter --- */









