
<div class="mt20 p20">
	<h2> {header} </h2>
	<div class="block">
		  {links}
		  
	</div>
	<div class="ml40" style="float:right">
		<a href="{moreLink}"> View More&nbsp; &raquo;</a>
	</div>
</div>
