
<div class="item">
	<div class="price">{bounty:h}</div>
	<div class="photos">
		<img src="/css/images/_photo.jpg" alt="" />
		<img src="/css/images/_photo.jpg" alt="" />
		<img src="/css/images/_photo.jpg" alt="" />
	</div>
    
	<h2> Apply &dash; {title:h} </a> </h2>
    <span class="link"> <a href="/opening/detail.php?g_opening_id={uuid}&g_org_id={organizationId}#organization" target="_blank"> {organizationName:h} </a> </span>
    <span class="location">{location:h} </span>
    
	<div class="description">
		{description:h}
	</div>
	<div class="skill">
		{skill}
	</div>
    <span class="date">posted  on {createdOn}, closing in {lifeInDays} days </span>
   
    
</div>