

<div class="opening green-line-bottom">

    <h2> Application &dash; {title:h} </h2>
    <p> <span> <a href="/pub/org/detail.php?g_org_id={organizationId}" target="_blank"> {organizationName:h} </a> </span> posted  on {createdOn} (closing in {lifeInDays} days)
    </p>
    <p> <span> Location </span> &nbsp;&dash;&nbsp;{location:h}  </p>
    
    <p> {description:h} </p>
    <p> Skills:&nbsp;{skill:h} </p>
    <div class="bounty"> Reward&nbsp;{bounty:h}&nbsp;&#36;</div>
    

</div>
