
<div class="summary"  style="border-bottom:1px solid #ccc;">
   
    <h2> <a href="/opening/detail.php?g_opening_id={uuid}&g_org_id={organizationId}"> {title:h} </a> </h2>
    <span> Posted by:&nbsp;{createdBy:h} </span>
    <span> Organization:&nbsp;{organizationName:h} </span>
    <span> Location:&nbsp;{location:h} </span>
    <p> {description:h} </p>
    <p> Skills:&nbsp;{skill:h} </p>
    <p> Bounty:&nbsp;{bounty:h} </p>


</div>