
 <div id="{name}" class="previewImage">
   <img src="/nuke/images/{image}" class="resize" alt="{name}"/>
   <div style="font-size:15px; padding:10px;">
          {name}
   </div>
   <a name="{name}" class="{linkClass}" href="">{linkName}</a>
</div>