<div class="widget bbd5">
	<div class="description">
		{description}

		<div class="author floatr">
		   <div><b><a href="#"> {userName}</a></b> </div>
		   <div><b>{createdOn}</b> </div>
		   <div> <img src="/nuke/twitter-icon.png" height="32" width="32"   alt="icon" /> </div>
		</div>
	
		<div class="tags">{tags} </div>

	</div>
	<br style="clear:both"/>

</div>
<div class="floatr"><a href="/qa/show.php?id={id}">Show Details&nbsp;&#8594;</a></div>

