
<div class="widget bbd5">
	<div class="row">
		<div class="span7">
		   ~~$view->answer~
		   <b>in reply to </b> <a href="/qa/show.php?id=~~$view->questionId~"> ~~$view->title~</a>
		</div> <!-- span7 -->

		<div class="span2">
			<div class="author">
				<img src="/nuke/twitter-icon.png" height="32" width="32" alt="icon" /> 		
				<div class="meta">
					<span class="b"> <a href="#">~~$view->userName~</a></span>
					<br>
					<span class="b">~~$view->createdOn ~</span>
				</div>	
			</div>
		</div> <!-- span2 -->
	</div> <!-- row -->
	~if($view->isLoggedInUser) { ~
		<div class="ml40">
			<a href="/qa/answer/edit.php?id=~~$view->id~">edit &rarr; </a>
		</div>
	~}~	
</div>

