
<div class="widget bbd5">
    <div class="description">
       {answer}
	   in reply to <a href="/qa/show.php?id={questionId}">{title}</a>
	   <div> &nbsp; on <span class="b">{createdOn}</span> </div>
    </div>
</div>

