
<div class="widget p10 bbd5">
   
   <div class="author">
      <span class="b"> <a href="#">{userName}</a> </span>
      <span class="date">on{createdOn} </span>
   </div>
       
    <div class="regular">
       {answer}
    </div>
   <div class="p10">
	{editLink}
   </div>
    
</div>

