
<div class="doc-table mt20">
   <table>
	<tr>
		<td> Real name </td>
		<td> {name} </td>
	</tr>
   
    <tr>
		<td> Email </td>
		<td> {email} </td>
	</tr>
	<tr>
		<td> Created On </td>
		<td> {createdOn} </td>
	</tr>
	
   </table>
</div>

<div class="p20">
	<span> <a  href="/user/profile/edit.php">Edit profile </a> </span>
	&nbsp;|&nbsp;
	<span> <a  href="/user/profile/password.php">Change  password</a> </span>
</div>


