
<div id="link-{id}" class="widget {bgclass}">
   <h3> <a href="{link}" class="fbox">{link} </a> </h2>
    
    <div class="regular">
       {author} posted on {createdOn}
       <br/>
       {description}

    </div>
     <div class="action-links">
        <span class="grey-button"><a href="#"> Accept </a> </span>                       
        &nbsp;
        <span class="grey-button"><a href="#"> Reject </a> </span> 
    </div>
</div>

