
<div class="doc-table mt20">
	<div class="row">
		<div class="span3">
		&nbsp;
		</div>
		<div class="span9">
		   <table class="doc-table">
				<tr> <td> <b>facebook user</b> </td> </tr>
				<tr> <td>{name}</td> </tr>
				<tr> <td>{email}</td> </tr>
				<tr> <td>{createdOn}</td> </tr>
				
		   </table>
		</div>
	</div> <!-- row -->
</div>
