
 <div style="border:1px solid red;padding:20px;">
            <div>
                Hello {company} administrator &nbsp;{firstName} {lastName} &nbsp; ({email})&nbsp; <a href="/logout.php"> logout </a>
            </div>

        </div>