
 <div class="toolbar">
                Hello &nbsp;{email}&nbsp; 
                    <a href="/logout.php"> logout </a>
                    <a href="/organization/profile.php"> About {organizationName}</a>

        </div>