
<div id="header">
	<div class="h-content">
		<div rel="home" id="logo">
				<a href="/" title="{Title}"> <img src="/css/images/logo.png" alt="{Title}" /> </a>
		</div>

		<div id="search-top">
				<form method="get" id="searchform" action="">	
						<input type="text" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if (this.value == 'Search') {this.value = '';}" value="Search" class="text" name="s" id="s"> 
						<input type="image" class="but" src="/css/images/search-btn.png" value=" "> 
				</form>
				
		</div>

		<div id="hcenter">
				<div id="login">
						
						
						<span class="register"><a href="/">Home</a></span> |
						<span class="loginout"><a href="/user/login.php">Log in</a></span> |
						<span class="register"><a href="/user/register.php">Register</a></span>
						
				</div>
				
		</div>

	</div>
</div>