<div class="opening">
    <h3> {title:h} </h3>
    <span> Posted by:&nbsp;<a href="mailto:{createdBy:h}"> {createdBy} </a> on {createdOn} </span>
    <span> (&nbsp;{location:h}) </span>
    <p> Active for <b> {lifeInDays} </b> more days  &nbsp; <a href="#" id="{uuid}" class="opening-more-link">more&nbsp;&gt;</a> </p>

    <div class="bounty"> Reward&nbsp;{bounty:h}&nbsp;&#36;</div>
    
    <p id="opening-{uuid}" class="hide-me">
        {description:h}
    </p>
    
</div>