<div class="item"  id="opening-{uuid}">
	<div class="price">{bounty:h}</div>
	<div class="photos">
		<img src="/css/images/_photo.jpg" alt="" />
		<img src="/css/images/_photo.jpg" alt="" />
		<img src="/css/images/_photo.jpg" alt="" />
	</div>
    
	<h4 class="title"> <a href="#"> {title:h} </a> </h4>
    <div class="clear"> </div>
    
	<div class="meta">
      
        <span> Posted by&nbsp;<a href="mailto:{createdBy:h}"> {createdBy} </a> </span>
        <span> on {createdOn}, Active for {lifeInDays} more days </span>
        <span>{location:h}</span>
    </div>
    
     {if:hasSummary}
        <div id="summary-{uuid}" class="description">
            {summary:h}
            <span class="link"> <a href="#" id="{uuid}" class="more-link">more&nbsp;&gt;</a> </span>
        </div>
    
    {end:}

    <div id="description-{uuid}" class="description hide-me">
        {description:h}
        {if:hasSummary}
            <span class="link"> <a href="#" id="{uuid}" class="less-link">less&nbsp;&gt;</a> </span>
        {end:}
    </div>
    
    <div class="skill">
        {skill:h}
    </div>
    
     <div class="action-links">
        <span class="grey-button"> <a href="#" class="opening-action-link" id="{uuid}">Actions</a></span>
         &nbsp;
         <span class="grey-button"> <a href="/opening/edit.php?g_opening_id={uuid}">Edit</a> </span>

        {if:showApplication}
            &nbsp;
            <span class="grey-button"> <a href="/application/list.php?g_opening_id={uuid}"> Applications&nbsp({applicationCount})</a> </span>
            
        {end:}
        
    </div>
  
</div>

