<div class="item"  id="opening-{uuid}">
	<div class="price">{bounty:h}</div>
	<div class="photos">
		<img src="/css/images/_photo.jpg" alt="" />
		<img src="/css/images/_photo.jpg" alt="" />
		<img src="/css/images/_photo.jpg" alt="" />
	</div>
    
	<h2> {title:h} </h2>
	
    <span class="location">{location:h}</span>
    <span class="email"> Posted by&nbsp;<a href="mailto:{createdBy:h}"> {createdBy} </a> </span>
    <span class="date"> {createdOn}, Active for {lifeInDays} more days </span>
    
     {if:hasSummary}
        <div id="summary-{uuid}" class="description">
            {summary:h}
            <span class="link"> <a href="#" id="{uuid}" class="more-link">more&nbsp;&gt;</a> </span>
        </div>
    
    {end:}

    <div id="description-{uuid}" class="description">
        {description:h}
        {if:hasSummary}
            <span class="link"> <a href="#" id="{uuid}" class="less-link">less&nbsp;&gt;</a> </span>
        {end:}
    </div>
    
    <div class="skill">
        {skill:h}
    </div>
    
     <div class="action-links">
        <a href="#" class="opening-action-link" id="{uuid}">Actions</a>
        &nbsp;|&nbsp;
        <a href="/opening/edit.php?g_opening_id={uuid}">Edit</a>

        {if:showApplication}
            &nbsp;|&nbsp;
            <a href="/application/list.php?g_opening_id={uuid}"> Applications&nbsp({applicationCount})</a>
        {end:}
        
    </div>
    
  </div>
  
</div>