
<div class="summary"  style="border-bottom:1px solid #ccc;">
   
    <h2>  {title:h} </h2>
    <span> Posted by:&nbsp;{createdBy:h} </span>
    <span> Organization:&nbsp;{organizationName:h} </span>
    <span> Location:&nbsp;{location:h} </span>
    <p> {description:h} </p>
    <p> Skills:&nbsp;{skill:h} </p>
    <p> Bounty:&nbsp;{bounty:h} </p>

    <p> 
        <a href="/application/list.php?g_opening_id={uuid}"> View Applications </a>
        

    </p>

</div>