<div class="opening">
    
    <span> Posted by:&nbsp;{createdBy:h} on {createdOn} </span>
    <span> (&nbsp;{location:h}) </span>
    <p> Active for <b> {lifeInDays} </b> more days </p>
   
    <div class="bounty"> Reward&nbsp;{bounty:h}&nbsp;&#36;</div>
    &nbsp; <a href="#" id="{uuid}" class="opening-more-link">more&nbsp;&gt;</a>

    <p id="opening-{uuid}" class="hide-me">
        {description:h}
    </p>
    
</div>