
<div class="item">
	<div class="price">2500$</div>
	<div class="photos">
		<img src="/css/images/job-small.png" alt="" />
		<img src="/css/images/job-small.png" alt="" />
		<img src="/css/images/job-small.png" alt="" />
	</div>
	<br>
	<h4 class="title"><a href="/opening/detail.php?g_opening_id={uuid}&g_org_id={organizationId}">{title:h}</a></h4>
	<div class="details pt10 grey">
		<span class="ditem d-company"> <a href="/opening/detail.php?g_opening_id={uuid}&g_org_id={organizationId}#organization">{organizationName:h} </a> </span>
		<span class="ditem d-address">{location:h}</span>
		<span class="date"> closing in {lifeInDays} days</span>
    </div>
	
	<div class="description">
		{description:h}
	</div>
	
</div>


