<div class="widget bbd5">
       
       <h2> <a href="/~~$view->shortId~/~~$view->seoTitle~">~~$view->title~ </a> </h2>
       <div class="details">
              <span class="b"> ~~$view->author~</span>
              <span> posted on ~~$view->createdOn~ </span>
       </div>
        <div class="photo">    
                <img src="/~~$view->bucket~/~~$view->storedName~"  title="~~$view->originalName~" width="~~$view->width~" height="~~$view->height~" alt="~~$view->originalName~"/>
        </div>
       
       <div class="regular">
               ~~$view->summary~    
       </div>
</div>


   
