<div class="widget">
       
        <div class="photo">
        
                <img src="{bucket}/{storeName}"  title="{originalName}" width="{width}" height="{height}" alt="{originalName}"/>
        
                <div class="regular">
                        {summary}
                        <h2> <a href="/{seoTitle}">{title} </a> </h2>
                </div>
            
        </div>
        
</div>


   
