<div class="widget bbd5">
       <h2> <a href="/{shortId}/{seoTitle}">{title} </a> </h2>
        <div class="photo">
                     
                <img src="/{bucket}/{storedName}"  title="{originalName}" width="{width}" height="{height}" alt="{originalName}"/>
        
                <div class="regular">
                        {summary}
                        
                </div>
            
        </div>
        
</div>


   
