
<div class="widget bbd5">
   
   <h2> <a href="{link}" target="_blank">{title} </a>&nbsp;<span class="external-link">E</span></h2>
   
    <div class="regular">
        <p> {summary} </p>

    </div>
    
</div>

