
<div class="widget bbd5">
   <div class="orange-link">
   + external
   </div>
   
   <h2> <a href="{link}" target="_blank">{title} </a> </h2>
    <div class="regular">
        <p> {summary} </p>

    </div>
    
</div>

