
<div class="widget bbd5">
   <h2> <a href="/{shortId}/{seoTitle}">{title} </a> </h2>
    <div class="details">
              <span class="b"> {author} </span>
              <span> posted on {createdOn} </span>
    </div>
    <div class="regular">
       {summary}

    </div>
    
</div>

