<div class="well">
	{description}
	<br>
	<div class="tags"> </div>

	<div class="author">
		<img src="/nuke/twitter-icon.png" height="32" width="32" alt="icon" /> 		
		<div class="meta">
			<span class="b"> <a href="#">{userName}</a></span>
			<br>
			<span class="b">{createdOn}</span>
		</div>	
	</div>
</div>

