
<div class="widget" style="border-bottom:1px dashed #ccc;">
   <h2> <a href="/qa/show.php?id={id}">{title} </a> </h2>
    <div class="author">
      <span class="date">  posted on {createdOn} </span>
   </div>
</div>

