
<div class="opening">
    
    <h2> <a href="/opening/detail.php?g_opening_id={uuid}&g_org_id={organizationId}"> {title:h} </a> </h2>
    <span> Posted by:&nbsp;{createdBy:h} </span>
    <span> of &nbsp;{organizationName:h} </span>
    <span> (&nbsp;{location:h}) </span>
    <p> {description:h} </p>
    <p> Skills:&nbsp;{skill:h} </p>
    <div class="bounty"> Reward&nbsp;{bounty:h}&nbsp;&#36;</div>

</div>