
<div style="border-bottom:1px solid #ccc;">
    <p> Name: {cvName} &nbsp; Email: {cvEmail} &nbsp; Phone: {cvPhone} </p>
    <p> Compnay: {cvCompany} &nbsp; Education : {cvEducation} &nbsp; Location : {cvLocation} </p>
    <p> Skills: &nbsp; {cvSkill} </p>
    <p> {cvDescription} </p>
    <p> forwarded by: &nbsp; {forwarderEmail}
    <p>
        <a href="#"> Approve </a>
        &nbsp;|&nbsp;
        <a href="#"> Reject </a>
    </p>

</div>