<div id="application-{uuid}" class="item">
    <div class="rating"> Rating (3/5) <span class="rating-static rating-30"> </span> </div>
    <span class="name">  {cvName} </span>
    <span class="email"> <a href="mailto:{cvEmail:h}"> {cvEmail} </a> </span>
    <span class="phone">{cvPhone} </span>
    <span class="link"> <a href="{cvLinkedInPage}">{cvLinkedInPage}</a> </span>
    <span class="location"> {cvLocation} </span>
    <span class="education"> {cvEducation} </span>
    <span class="organization"> {cvCompany} </span>
    
    <div class="skill"> {cvSkill} </div>
    
    {if:hasSummary}
            <div id="application-summary-{uuid}" class="description">
                {summary:h}
                &nbsp; <a href="#" id="{uuid}" class="application-more-link">more&nbsp;&gt;</a>
            </div>

    {end:}
    
     <div id="application-detail-{uuid}" class="{descriptionClass}">
            {cvDescription:h}
            {if:hasSummary}
                &nbsp; <a href="#" id="{uuid}" class="application-less-link">less&nbsp;&gt;</a>
            {end:}
    </div>
        
    <div class="action-links"> 
             <a href="#" id="{uuid}" class="application-approve-link"> Approve</a>
             &nbsp;|&nbsp;
            <a href="#" id="{uuid}" class="application-reject-link"> Reject</a>
    </div>
        

</div>


