; This is webgloo configuration file
; Comments start with ';', as in php.ini
; Note:  If a value in the ini file contains any non-alphanumeric characters 
; it needs to be enclosed in double-quotes (")
; Reserved words : null, yes, no, true, and false
;Characters {}|&~![()" must not be used anywhere in the key
;

[application]
system.upload.path="/home/rjha/web/upload/"
system.page.records=10
;
; @see also - post_max_size, upload_max_filesize php.ini settings
; php.ini can also impose limits on posted file size - max limit
; we allow is 10 MB.
;
max.file.size=10240000
max.foto.size=10240000


[image]
thumbnail.width=160
thumbnail.height=125


[system logging]
;valid values 1 for ON, 0 for off
debug.mode=0
;valid values are debug,info,warn,error
log.level=error
log.location=/home/rjha/web/log/job-app.log

[404 related]
image.404.uri=/art/common/images/image-404.jpg
thumbnail.404.uri=/art/common/images/image-404-160_125.png

[styles]
default.theme=minimal


[FARM SECTION]
farm.name = 3Mik.com
farm.domain=www.3mik.com
farm.uri= "http://www.3mik.com"
farm.admin.email = "support@3mik.com"
farm.builder.name =3Mik.com 
farm.logo.path="/css/images/logo.png"
;our housekeeping may require an orgId and domain for
;farm also. we need a special orgId and domain since farm has not been created
;(or exists before any site is created)
;
farm.organization.domain="3mik.com"
farm.organization.id=-9999
;All new sites are created on this domain
;like a new site called comics would be first created on
;http://comics.indigloo.net
;
farm.new.site.domain="3mik.com"


[mysql]
;mysql.host=localhost
;mysql not able to work with IPV6. some workaround suggested here
;http://bugs.php.net/bug.php?id=45150
;
;@todo - change plain text password
;
mysql.host=127.0.0.1
mysql.database=webgloodb
mysql.user=gloo
mysql.password="osje8L"

[Amazon web service]
aws.bucket=test.indigloo
aws.access.key=0Z4F45QMGC969088QQ02
aws.secret.key=so5XhNwLBB5RrB1ivZA86Zgjg+HQWiibLzpsxbAH

[SMTP]
smtp.host = "ssl://smtpauth.rollernet.us";
smtp.port="465";
smtp.user="sales@indigloo.com"
smtp.password="p2SfMKZwM2kioj=="


