
<div style="border-bottom:1px solid #ccc;">
<div style="padding:20px;">
    <h2>Bounty  &mdash; {bounty} &nbsp;   </h2>
    <p> <b> {organizationName} </b> ({title} , posted on {createdOn})
    <div>
        <a href="#" id="{uuid}" class="show-detail" onClick="javascript:webgloo.gui.Dialog.loadOpeningDetail({openingId})"> view details</a>
    </div>
</div>

<div style="padding:10px;">
    <h3> Candidate details </h3>
    <p> Name: {cvName} &nbsp; Email: {cvEmail} &nbsp; Phone: {cvPhone} </p>
    <p> Compnay: {cvCompany} &nbsp; Education : {cvEducation} &nbsp; Location : {cvLocation} </p>
    <p> Skills: &nbsp; {cvSkill} </p>
    <p> {cvDescription} </p>
    <p>
    <div>
        <a href="#" id="{uuid}" class="show-detail" onClick="javascript:webgloo.gui.Dialog.loadApplicationDetail({applicationId})"> view details</a>
    </div>
    
    </p>
</div>

</div>