
 <div class="application-summary grey-line-bottom">
    <p> {cvName} &nbsp;({cvEmail} &nbsp;phone&dash;&nbsp;{cvPhone}) </p>
    <p> Company {cvCompany} &nbsp; Education  {cvEducation} &nbsp; current location  {cvLocation} </p>
    <p> sent on {createdOn}</p>

 </div>


   

