
<div style="border-bottom:1px solid #ccc;">
  
    <h3> Name: {cvName} &nbsp; Email: {cvEmail} &nbsp; Phone: {cvPhone} </h3>
    <p> Compnay: {cvCompany} &nbsp; Education : {cvEducation} &nbsp; Location : {cvLocation} </p>
    <p> Skills: &nbsp; {cvSkill} </p>
    <p> {cvDescription} </p>
    
</div>