<div class="item">
	<div class="price">{bounty:h}</div>
	<div class="photos">
		<img src="/css/images/_photo.jpg" alt="" />
		<img src="/css/images/_photo.jpg" alt="" />
		<img src="/css/images/_photo.jpg" alt="" />
	</div>
    <div class="status"> <span> {status} </span> </div>
	<h4><a href="/opening/detail.php?g_opening_id={openingId}&g_org_id={organizationId}">{title:h}</a></h4>
	<span class="link"> <a href="/opening/detail.php?g_opening_id={uuid}&g_org_id={organizationId}#organization">{organizationName:h} </a> </span>
     <span class="location">{location:h}</span>
     
  </div>
  
 <div class="item">
     <span class="name"> {cvName} </span>
     <span class="email"> <a href="mailto:{cvEmail:h}"> {cvEmail} </a> </span>
     <span class="link"> <a href="{cvLinkedInPage}">{cvLinkedInPage}</a> </span>
     <span class="orgnization">  {cvCompany} </span>
     <span class="education">  {cvEducation} </span>
     <span class="location"> {cvLocation} </span>
     
    
	<div class="description">
		{cvDescription:h}
	</div>
	<div class="skill">
		{cvSkill}
	</div>
    <span class="date"> application sent  on {cvPostedOn}, closing on {expireOn}</span>

</div>

   

