
<div class="application">

    <h3> Candidate details </h3>
    <p> {cvName} &nbsp; (Email &nbsp;<a href="mailto:{cvEmail:h}"> {cvEmail} </a> &nbsp; Phone &nbsp; {cvPhone} </p>
    <p> Compnay &nbsp; {cvCompany} </p>
    <p> Education &nbsp; {cvEducation} </p>
    <p> Location &nbsp; {cvLocation} </p>
    <p> Skills &nbsp; {cvSkill} </p>
    <p> {cvDescription} </p>
    
    
</div>
